@use 'variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*, *:before, *:after {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
    min-height: 100%;
}

.center {  
    display: grid;
    place-items: center;
}

h1 {
    font-weight: 800;
    font-size: 2.5rem;
}
